<header>
  <h1>One Card Tarot</h1>
</header>

<body>
  <p>
    Welcome to One Card Tarot! Oberserve the themes that will be present during your day using Tarot!
  </p>
  <a id="draw" href="/result">
    Draw Card
  </a>
  <a id="twitterlink" href="http://twitter.com/jansenmitchell_">
    Twitter
  </a>
  <a id="githublink" href="https://github.com/Past-Morning/one-card-tarot">
    GitHub
  </a>
</body>

<div style="position: absolute; right: 0; bottom: 0; left: 0;padding: 1rem;">
  <footer>
    <div style="text-align: center">
      <script type="text/javascript">
        var d = new Date();
        document.write("<h4>Copyright © ");
        document.write(d.getFullYear());
        document.write(" Jansen Mitchell</h6>");
      </script>
    </div>
  </footer>
</div>
