!!!
%html
  %head
    %title One Card Tarot
  %body
    %h1 One Card Tarot
    %p
      Welcome to One Card Tarot! Oberserve the themes that will be present during your day using Tarot!
    %a{ :href => '/result'} Draw Card
