<!DOCTYPE html>
<html>
    <head>
        <title>One Card Tarot</title>
        <link type="text/css" href="https://fonts.googleapis.com/css?family=Crimson+Text|Fredericka+the+Great" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <style>
            h1 {
                font-family: 'Fredericka the Great', cursive;
            }
            p {
                font-family: 'Crimson Text', serif;
                font-size: 20px;
            }
            a {
                font-family: 'Crimson Text', serif;
                font-size: 20px;
            }

        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
