h1 {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

a#draw {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

a#githublink {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  display: block;
  text-align: center;
  position: absolute;
  top: 60%;
  right: 59%;
}

a#twitterlink {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  display: block;
  text-align: center;
  position: absolute;
  top: 60%;
  right: 36.25%;
}
